In [1]:
session_count = 10

In [2]:
print(session_count)

10

In [6]:
chapters = 8

In [7]:
print(chapters)

8

In [12]:
msg = "There will be "+str(chapters)+" "+"Chapters in the course,spanned accross"+" "+str(session_count)+" "+"Session"
print(msg)

There will be 8 Chapters in the course,spanned accross 10 Session

## Format

In [13]:
fmsg = "There will be {} chapters in the course spanned across {} session.".format(chapters,session_count)

In [14]:
fmsg

'There will be 8 chapters in the course spanned across 10 session.'

In [15]:
fmsg = "There will be {} chapters in the course spanned across {} sessions. The {} sessions are scheduled over a weekeday".format(chapters, session_count, session_count)

In [16]:
fmsg

'There will be 8 chapters in the course spanned across 10 sessions. The 10 sessions are scheduled over a weekeday'

## Functions
- Block of code
- Code reusability
- DRY -Dont repeat yourself

syntax:keyword:def function name

In [19]:
def Simplefunction():
    print("Inside the Simplefunction")
    print("Exiting the Simplefunction")
x = 20

In [20]:
Simplefunction()

Inside the Simplefunction
Exiting the Simplefunction

In [21]:
def findmaximum(a,b):
    if a > b:
        return a
    else:
        return b

In [22]:
findmaximum(3,5)

5

In [23]:
findmaximum(10,5)

10

In [24]:
def findmaximum(a, b):
    '''Function takes in two numbers and print the maximum'''
    if a > b:
        print(a)
    else:
        print(b)

In [25]:
findmaximum(5,9)

9

In [26]:
list =[1,2,3]

In [27]:
len(list)

3

In [28]:
findmaximum

In [29]:
x = 20
y = 30

In [30]:
x

20

In [31]:
y

30

## Factorial
5! = 5x4x3x2x1

4! = 4x3x2x1

3! = 3x2x1

2! = 2x1

0! = 1

- iterative approch

In [32]:
def iterfactorial(num):
    result = 1
    for i in range(1,num+1):
        result =result*i
    return result

In [33]:
iterfactorial(5)

120

In [34]:
num = int(input("Enter a number :"))
print("Result :",iterfactorial(num))

Enter a number :5
Result : 120

## Recursive Approach
- 5! = 5*4!
- 4! = 4*3!
- 3! = 3*2!

In [35]:
def recursivefact(num):
    if num == 0 or num == 1:
        return 1
    else:
        return num *recursivefact(num-1)

In [36]:
recursivefact(5)

120

## Default Arguments

In [37]:
def defaultargs(x=123):
    print("the value of x is {}".format(x))

In [38]:
defaultargs()

the value of x is 123

In [39]:
defaultargs(456)

the value of x is 456

## Named Arguments

In [40]:
def namedarg(a,b,c):
    print("The value of a :{},b:{},c:{}".format(a,b,c))

In [41]:
namedarg(100,120,130)

The value of a :100,b:120,c:130

In [42]:
namedarg(c=120,a=110,b=100)

The value of a :110,b:100,c:120

In [45]:
namedarg(c=120,110,b=100)

SyntaxError: positional argument follows keyword argument (3082966534.py, line 1)

## lambda Function

In [48]:
def mysquare(num):
    return num*num

In [49]:
mysquare(2)

4

In [50]:
f = lambda num: num*num

In [51]:
f(3)

9

In [52]:
sum_=lambda x,y:x * y

In [53]:
sum_(2,3)

6

In [54]:
vari = "love you"

In [55]:
vari[-1]

'u'

In [56]:
vari[-1:-3]

''

In [57]:
vari[-1:-3:-1]

'uo'

## Args and Kwargs

In [58]:
def sumofnumbers(x,y):
    result = x + y
    print("Result :",result)

In [59]:
sumofnumbers(2,3)

Result : 5

In [60]:
def SumOfNumbersUsingArgs(*args):
    print("Args :",args)
    print("Type of args:",type(args))

In [62]:
SumOfNumbersUsingArgs(5,)

Args : (5,)
Type of args: <class 'tuple'>

In [63]:
SumOfNumbersUsingArgs(1,2,3)

Args : (1, 2, 3)
Type of args: <class 'tuple'>

In [64]:
def SumOfNumbersUsingArgs(*args):
    print("Args :",args)
    print("Type of args:",type(args))
    result = 0
    for item in args:
        result += item
    print(result)

In [65]:
SumOfNumbersUsingArgs(1,2,3,4)

Args : (1, 2, 3, 4)
Type of args: <class 'tuple'>
10

In [66]:
t = (1,2,3)

In [67]:
for i in t:
    print(i*i)

1
4
9

In [68]:
SumOfNumbersUsingArgs(1,2,3,4,5,6)

Args : (1, 2, 3, 4, 5, 6)
Type of args: <class 'tuple'>
21

In [69]:
t = (1,2,3,4,5)

In [71]:
SumOfNumbersUsingArgs(t[0],t[1],t[2],t[3])

Args : (1, 2, 3, 4)
Type of args: <class 'tuple'>
10

In [72]:
SumOfNumbersUsingArgs(*t)

Args : (1, 2, 3, 4, 5)
Type of args: <class 'tuple'>
15

## Args-taking user input

In [73]:
userinput = input("Enter comma Separated number :")

Enter comma Separated number :11,12,13,14

In [74]:
userinput =userinput.split(',')
print(userinput)

['11', '12', '13', '14']

In [81]:
newlist = []
for i in userinput:
    newlist.append(int(i))
print(newlist)

[11, 12, 13, 14]

In [82]:
type(newlist)

list

In [83]:
SumOfNumbersUsingArgs(*newlist)

Args : (11, 12, 13, 14)
Type of args: <class 'tuple'>
50

## Kwargs -Dict

In [84]:
def printplayerdetails(**kwargs):
    print("kwargs :",kwargs)
    print("Type of kwargs :",type(kwargs))

In [85]:
printplayerdetails(name = 'virat',age =32)

kwargs : {'name': 'virat', 'age': 32}
Type of kwargs : <class 'dict'>

In [86]:
printplayerdetails(name = 'virat',age = 32, team = 'RCB',Salary = 10000)

kwargs : {'name': 'virat', 'age': 32, 'team': 'RCB', 'Salary': 10000}
Type of kwargs : <class 'dict'>

In [91]:
def printplayerdetails(**kwargs):
    print("kwargs :",kwargs)
    print("Type of kwargs :",type(kwargs))
    for k,v in kwargs.items():
        print("k : {}, v : {}".format(k,v))

In [92]:
printplayerdetails(name = 'virat',age = 32, team = 'RCB',Salary = 10000)

kwargs : {'name': 'virat', 'age': 32, 'team': 'RCB', 'Salary': 10000}
Type of kwargs : <class 'dict'>
k : name, v : virat
k : age, v : 32
k : team, v : RCB
k : Salary, v : 10000

In [93]:
d = {'name':'Rohit','age':36,'team':'mumbai'}

In [95]:
printplayerdetails(**d)

kwargs : {'name': 'Rohit', 'age': 36, 'team': 'mumbai'}
Type of kwargs : <class 'dict'>
k : name, v : Rohit
k : age, v : 36
k : team, v : mumbai