In [1]:
## List comprehensions

In [2]:
r = range(1,100)

In [3]:
result = []
for i in r:
    result.append(i*i)
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [4]:
## Example 1

In [5]:
result = [i*i for i in r]
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [6]:
## Example 2

In [9]:
## Traditional Approach
result = []
for i in range(1,21):
    if i % 2==0:
        result.append(i)
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
## LC
result = [i for i in range(1,21) if i % 2==0]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
## Example 3
# Write a program to get list of all consonants from the word "MATHMATICS"
# Subject="MATHMATICS"
# Output=["M","T","H","M","T","C","S"]

In [14]:
Subject = 'MATHMATICS'
Output = []
for i in Subject:
    if i not in 'AEIOU':
        Output.append(i)
print(Output)

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [16]:
# LC
Output = [i for i in Subject if i not in 'AEIOU']
print(Output)

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [ ]:
## Example 4
# company = ["amazon", "flipkart", "snapdeal", "paytm"]
# websites = ["www.amazon.com", "www.flipkart.com", "www.snapdeal.com", "www.paytm.com" ]

In [23]:
company = ["amazon", "flipkart", "snapdeal", "paytm"]
result = []
for i in company:
    result.append('www.'+i+'.com')
print(result)

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com', 'www.paytm.com']

In [24]:
result = ['www.'+i+'.com' for i in company]
result

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com', 'www.paytm.com']

In [25]:
result = ['www.{}.com'.format(i) for i in company]

In [26]:
result

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com', 'www.paytm.com']

In [27]:
## Example 5
# s = "Welcome to the world of python programming"
# output = [("welcome", 7), ("to", 2), ("the", 3).... ]

In [29]:
s = "Welcome to the world of python programming"

In [31]:
output = []
for i in s.split():
    output.append((i,len(i)))
print(output)

[('Welcome', 7), ('to', 2), ('the', 3), ('world', 5), ('of', 2), ('python', 6), ('programming', 11)]

In [33]:
# LC 
output = [(i,len(i)) for i in s.split()]
output

[('Welcome', 7),
 ('to', 2),
 ('the', 3),
 ('world', 5),
 ('of', 2),
 ('python', 6),
 ('programming', 11)]

## dictionary Comprehension

In [34]:
# Example
# numbers = [1, 2, 3, 4]
# output = {1: 1, 2: 4, 3: 9, 4: 16}

In [37]:
output = {}
for i in range(1,5):
    output[i]=i*i
print(output)

{1: 1, 2: 4, 3: 9, 4: 16}

In [38]:
output = {i:i*i for i in range(1,5)}
output

{1: 1, 2: 4, 3: 9, 4: 16}